@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .dashboard-card {
        min-height: 14em;
    }

    .custom-nav-bar {
        padding-left: 4em;
        padding-right: 4em;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .dashboard-card {
        min-height: 18em;
    }

    .custom-nav-bar {
        padding-left: 8em;
        padding-right: 8em;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }

    .dashboard-card {
        min-height: 22em;
    }

    .custom-nav-bar {
        padding-left: 12em;
        padding-right: 12em;
    }
}

.app-link {
    color:inherit;
    text-decoration: none;
}

.app-link:hover {
    text-decoration: none;
}

.card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: cover;
}

.appcard {
    display:inline-block;
    margin-right:1em;
    position:relative;
    padding-top:20px;
}

.app-badge {
    position: absolute;
    right: 10px;
    top:10px;
    padding:10px 10px;
    font-size:15px;
}
