.modal-open {
    padding-right: 0 !important;
}

html {
    overflow-y: scroll !important;
}

.link-btn:focus,.link-btn:active {
    outline: none !important;
    box-shadow: none;
}

.info-symbol {
    color: #de02c3;
}

.modal-75w {
    max-width: 75% !important;
}

.dismiss-btn {
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.external-link {
    display:inline-block;
    text-decoration: none !important;
}

.no-deco {
    text-decoration: none !important;
}
