.modal-open {
    padding-right: 0 !important;
}

html {
    overflow-y: scroll !important;
}

.link-btn:focus,.link-btn:active {
    outline: none !important;
    box-shadow: none;
}

.info-symbol {
    color: #de02c3;
}

.modal-75w {
    max-width: 75% !important;
}
